body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100vh;
  padding: 20px;
  margin: 0;
  background: linear-gradient(rgba(240, 240, 240, 0.7), rgba(240, 240, 240, 0.7)),
  url(https://images.unsplash.com/photo-1557682250-33bd709cbe85?q=80&w=2029&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  font-family: Arial, sans-serif;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column; 
  flex: 1;
}

h1 {
  text-align: center;
  color: white;
}
.chat-box {
  height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  background: #f8f8ff;
  margin-bottom: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column; 
  box-shadow: 0 4px 8px rgba(12, 11, 11, 0.1);
}


.user {
  align-self: flex-end;            
  background-color:#cbb0cf;
  padding: 8px 12px;
  border-radius: 12px;
  margin: 5px 0;
  max-width: 80%;
  text-align: right;
  display: block;                  
  word-wrap: break-word;
}


.bot {
  align-self: flex-start;        
  background-color: #f1f1ff;
  padding: 8px 12px;
  border-radius: 12px;
  margin: 5px 0;
  max-width: 80%;
  text-align: left;
  display: block;                
  word-wrap: break-word;
}


.input-box {
  display: flex;
  gap: 10px;
}

.input-box input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-box button {
  padding: 8px 15px;
  background-color: #7a4ef2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.question-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  background: #f1f1ff;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.question-list li {
  background-color: #cdaddb;
  color: black;
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
 
}

.question-list li:hover {
  background-color: #8900d1;
  color: #f8f8ff;
  transform: translateY(-2px);
}

.question-list p {
  width: 100%;
}
